#contenedorPadre {
    width: 400px;
    border-radius: color red 15px;
    background-color: greenyellow;
    height: 400px;
    background-color: #f55353;
  }
  #contenedorHijo {
    width: 100px;
    height: 100px;
    background-color: #feb139;
  }